.container {
    background-color: white;
}

.description {
    padding: 100px;
}

.title {
    font-size: 100px;
}

.subtitle {
    color: var(--primary-color);
    font-size: 30px;
}

.paragraph {
    color: var(--text-color-dark);
    font-size: 24px;
}

.frame {
    margin-right: 100px;
    width: 500px;
    border-radius:0 0 0 100px;
    position: relative;
    &:hover {
        .photoIcons {
            transform: scaleY(1);
        }
    }
    .photo {
        border-radius:0 0 0 100px;
        cursor: pointer;
    }
    .photoIcons {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: end;
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform 500ms ease-out;
        i {
            font-size: 40px;
            margin-left: 10px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.skills {
    width: 100%;
    background-color: var(--gray);
    color: var(--primary-color);
    font-size: 30px;
    h2 {
        font-size: 60px;
        text-transform: uppercase;
        color: white;
    }
    .fullstack {
        margin-top: 40px;
        .tools {
            text-align: center;
            width: 100%;
            border: none;
        }
    }
}

.stack {
    width: 250px;
}

.backend~ul li:nth-child(0n+2) img {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logoTitle {
    font-size: 20px;
    text-align: center;
    color: var(--text-color-dark);
}

.arrowDown {
    font-size: 25px;
}