@use '../../../../Assets/Styles/mixin' as mixin;

.container {
    padding: 40px;
    background-color: #fafafa;
    @include mixin.breakpoint-tablette {
        padding: 20px;
    }
    h2 {
        font-size: 60px;
        text-transform: uppercase;
        color: var(--primary-color);
        margin-bottom: 40px;
        @include mixin.breakpoint-mobileL {
            font-size: 40px;
        }
    }
}

.cards {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
    @include mixin.breakpoint-tablette {
        padding: 20px 0;
    }
}

.card {
    box-shadow: 1px 1px 6px black;
    position: relative;
    height: 400px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    &:hover {
        .maskHover {
            opacity: 1;
        }
    }
    @include mixin.breakpoint-laptop {
        height: 300px;
    }
    @include mixin.breakpoint-tablette {
        width: 45%;
    }
    @include mixin.breakpoint-mobileL {
        width: 100%;
    }
    & .maskHover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        z-index: 2;
        background-color: var(--primary-color);
        color: var(--text-coor-dark);
        opacity: 0;
        transition: opacity 500ms;
    }
    img {
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }
}

.cardTitle {
    color: var(--text-color-dark);
    font-size: 30px;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.cardSkills {
    height: 50%;
    color: white;
    font-size: 24px;
    text-align: center;
    align-items: flex-start;
    padding: 10px;
}
