@use '../../../../Assets/Styles/mixin' as mixin;

.container {
    padding: 40px;
    @include mixin.breakpoint-tablette {
        padding: 20px;
    }
}

h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
    @include mixin.breakpoint-mobileL {
        font-size: 40px;
    }
}

.contactMe {
    padding: 15px;
    font-size: 30px;
    color: var(--primary-color);
    background-color: #fafafa;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

form {
    width: 60%;
    margin: auto;
    @include mixin.breakpoint-laptop {
        width: 80%;
    }
    @include mixin.breakpoint-mobileL {
        width: 100%;
    }
    button {
        @include mixin.breakpoint-mobileL {
            width: 100%;
            margin-top: 15px;
        }
    }
}

input, textarea {
    font-size: 18px;
    background-color: var(--gray);
    margin-bottom: 5px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

input:focus , textarea:focus {
    outline: 1px solid var(--primary-color);
    border-bottom: none;
}

textarea {
    resize: none;
}

.error {
    font-size: 14px;
    color: black;
}

button {
    font-size: 20px;
}

.icons {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include mixin.breakpoint-tablette {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    i {
        font-size: 40px;
        margin-left: 20px;
        opacity: 1;
        @include mixin.breakpoint-tablette {
            margin-left: 0;
            padding: 0 10px;
        }
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .squares{
        @include mixin.breakpoint-tablette {
            padding: 10px;
        }
    }
    .squareMail {
        color: black;
    }
}

