.btn {
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.bg-dark {
    background-color: #444;
}

.bg-light {
    background-color: white;
}